<form class="ask_coach" action="/answer" data-turbo="false">
  <input class="input" type="text" name="question" placeholder="Talk to Coach">
  <input class="btn btn-primary submit" type="submit" value="Ask!">
</form>
